.container {
  width: 100%;
  max-width: var(--max-width);
  padding: 0.5rem;
}

@media (min-width: 568px) {
  .container {
    padding-inline: 2rem;
  }
}

@media (min-width: 568px) {
  .container {
    padding: 1rem;
  }
}
